[submodule "components/esp32-ssd1306"]
	path = components/esp32-ssd1306
	url = https://github.com/shaduzlabs/esp32-ssd1306.git
[submodule "components/esp32-rastr"]
	path = components/esp32-rastr
	url = https://github.com/shaduzlabs/esp32-rastr.git
